<html>

    <head>
        <title> Edit Author </title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script>
        </script>
    </head>

    <body>
        <div class="container">
            <h1>Edit/Create Author</h1>





            <hr>
            <form id = "editauthorform" enctype="multipart/form-data" action="/admin/edit-author" method="post">
                Exeter email (without @exeter.edu) <%if(email){%><small style = "color: red">*Email cannot be changed</small><%}%>
                <br>
                <input type="text" name="email" placeholder = "psanson" value = "<%=(email)?email:""%>"  <%if(email){%>readonly<%}%> required>
                <br>
                <br> Full Name:
                <br>
                <input type="text" name="name" value="<%=(name)?name:""%>" placeholder = "John Snow" required>
                <br>
                <br> About the Author (max: 250 characters)
                <br>
                <textarea maxlength="250" form = "editauthorform" name = "about" required><%=(about)?about:""%></textarea>

                <br><br><div style = "font-size: 16px"> <input type = "checkbox" <%if(visible){%>checked<%}%> name = "visible">  Visible on <a href = "/about">/about</a></div>
                <br>

                <br> Picture:<br> <input <%if(!email){%>required<%}%> type="file" accept="image/*" name="image">
                <br>Previous image:
                <br>
                <%if(email){%>
                  <img src = "/dynamic/author/<%=email%>.png">
                <%}%>

                <br>
                <br>
                <input type="submit" value="Submit">
            </form>




        </div>




    </body>

</html>
