<div class="row" style = "margin-top: 20px;">
    <div class="col s12">
        <div class="card-panel grey lighten-5 z-depth-1 no-padding">
            <div class="row">
                <div class='col m2 no-padding'>
                    <img style="max-width: 100%;  display: block; margin-left:auto; margin-right: auto; " src="/dynamic/author/<%=author.email%>.png"></img>
                </div>
                <div class="col m8">
                    <h5><%=author.name%></h5>
                    <p> <%=author.about%> </p>
                </div>
            </div>
        </div >
      </div>
    </div>
</div>
