    <footer class="page-footer brown lighten-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About</h5>
                    <p class="grey-text text-lighten-4">
                      Sustain publishes environmentally conscious articles written by students at Phillips Exeter Academy who hope to bring awareness to current climate issues. We are hoping that our online publication will provide easy access to articles and create more fellow tree huggers on this campus.</p>
                </div>
                <div class="col l2 s12"></div>
                <div class="col l4 s12">
                    <h5 class="white-text">Navigation</h5>
                    <div class="row">
                        <div class="col s6">
                            <ul>
                              <li><a class = "white-text underline" href="/">Home</a></li>
                              <li><a class = "white-text underline" href="/about">About</a></li>
                              <li><a class = "white-text underline" href="/exeter">Exeter</a></li>
                              <li><a class = "white-text underline" href="/search">Search</a></li>
                            </ul>
                        </div>
                        <div class="col s6">
                            <ul>
                              <li><a class = "white-text underline" href="/section/world">World</a></li>
                              <li><a class = "white-text underline" href="/section/op-ed">Op-ed</a></li>
                              <li><a class = "white-text underline" href="/section/humor">Humor</a></li>
                              <li><a class = "white-text underline" href="/section/campus">Campus</a></li>
                              <li><a class = "white-text underline" href="/section/tips">Tips</a></li>
                            </ul>
                        </div>
                    </div>


                </div>

            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Sustain Exeter
                <a class="grey-text text-lighten-4 right" href="http://stuartrucker.github.io">by Stuart Rucker</a>
            </div>
        </div>
    </footer>
  </body>
</html>
