body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.padded tr td{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2px;
  padding-right: 2px;
}

.padded thead td{
  font-weight: 500;
}

table .glyphicon:hover{
  color: grey;
}
